body {
    background-color: #DDC3A5;
    color: #201E20;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:1.6em;
    margin:0;
}

.container {
    /*width:80%;*/
    margin:auto;
    overflow:hidden;
    margin-left: 10px;
    text-align: center;
}

#main-header {
    background-color:#E0A96D;
    color: #fff;
    text-align: center;
}

#nav-bar {
    background-color: gray;
    color: #fff;
}

#nav-bar ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

#nav-bar li {
    display:inline;
}

#nav-bar a {
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    color: #fff;
}

#main {
    /*color:blue;*/
    /*margin-left: 500px;
    margin-right:500px;*/
    width:50%;
    margin:auto;
    overflow:hidden;
    
}

#showcase {
    text-decoration:underline
}

#main-footer {
    margin-top: 150px;
}

#lightbulb {
    width: 75%;
    height: auto;
}

#interests h2{
    margin-top: 120px;
    text-decoration:underline;
}

#interests {
    width:50%;
    margin:auto;
    overflow:hidden;
}

#interests table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    
}

#contact {
    margin-top: 100px;
}

#contact ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#contact li {
    display:inline;
}

#contact a {
    text-decoration: none;
    font-size: 25px;
    padding-right: 15px;
    color: black;
    text-decoration: underline;
}

#contact a:hover {
    color:grey;
}

#accomplishments {
    width:50%;
    margin:auto;
    overflow:hidden;
    margin-top: 80px;
}

#accomplishments h2{
    text-decoration:underline;
}

#contactimg {
    width: 5%;
    height: auto;
}

/*#accomplishments ul {


    text-align: center;
    list-style-position:outside;
}*/

#accomplishments ul  {
    margin-left: 0;
    padding-left: 0;
  }
#accomplishments ul li {
padding-top: 35px;
  }


#main h2{
    margin-top: 50px;
    text-decoration:underline;
}

#validator1 {
    margin: 0;
    width:5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#validator2 {
    margin: 0;
    width:5%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
}